.container {
    text-align: center;
    margin-top: 20px;
}

table {
    margin: auto
}

input {

    font-size: 30px;
    border-radius: 10px;

}

button {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin: 5px;
}

button:hover {
    background-color: black;
    color: white;

}

.calculator {
    display: inline-block;
    background-color: rgb(255, 185, 106);
    border-radius: 60px;
    padding: 30px;
}

h1 {
    font-size: 35px;
    font-family: cursive;
    color: rgb(255, 179, 151);

}